body {
  padding: 1.5rem;
}


.custom-navbar {
  background-color: #ffffff; /* Cor do fundo da navbar */
  padding: 1rem; /* Espaçamento interno */
}

.custom-navbar .nav-link {
  color: #242222; /* Cor dos links */
  font-weight: bold; /* Texto em negrito */
  transition: color 0.3s ease; /* Suaviza a transição da cor */
}

.custom-navbar .nav-link:hover {
  color: #727272; /* Cor ao passar o mouse */
}
p {
  max-width: 800px; /* Limita a largura máxima do texto */
  line-height: 1.8; /* Aumenta o espaçamento entre linhas */
  margin-top: 20px; /* Adiciona um espaçamento superior */
}

.text-justify {
  text-align: justify;
  text-align-last: justify;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajuste conforme necessário */
  padding-top: 20px; /* Ajuste o espaço superior */
  padding-bottom: 20px; /* Ajuste o espaço inferior */
  border-top: 1px solid #ccc; /* Se você deseja uma linha acima do footer */
}

footer hr {
  width: 100%; /* Garante que a linha ocupe toda a largura */
  border: none; /* Remove qualquer estilo de borda existente */
  border-top: 1px solid #ccc; /* Linha simples acima do footer */
}

.large-text {
  font-size: 20px;
}

.large-heading {
  font-size: 33px; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
  text-align: center; /* Opcional: centralizar o texto */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }

  .menu {
      flex-direction: column; /* Muda menu para coluna */
  }
}

@media (max-width: 480px) {
  body {
      font-size: 14px;
  }

  .container {
      padding: 10px; /* Reduz o espaçamento */
  }
}

